@model IEnumerable<Realitni_Kancelar.Models.Advertisement>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm())
    {

        @Html.EnumDropDownListFor(m => m.First().TypeOfAd, new { @class = "form-control" })
        <br />
        @Html.EnumDropDownListFor(m => m.First().VariantOfAd, new { @class = "form-control" })
        <br />
        <input id="Submit1" type="submit" class="btn btn-default"/>
        <br />
    }

</p>
@Html.ActionLink("Create New", "Create")
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleNameSortParm
            })
        </th>
        <th>
            @Html.ActionLink("Type of Ad", "Index", new { sortOrder = ViewBag.TypeOfAdNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Variant of Ad", "Index", new { sortOrder = ViewBag.VANameSortParm })
        </th>
        <th>
            @Html.ActionLink("Property type", "Index", new { sortOrder = ViewBag.PropertyTypeNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Condition of Property", "Index", new { sortOrder = ViewBag.ConditionOFPNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Final Price [Kč]", "Index", new { sortOrder = ViewBag.FPNameSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariantOfAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionOfProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
